.product_info .price_product {
    font-weight: 500;
}

.available {
    width: 70%;
}

.available .active {
    background-color: rgb(201, 230, 243);
}

.available_container {
    width: 50px;
    height: 50px;
    margin-right: 1em;
    border: 2px solid #000080;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #000080;
    cursor: pointer;
}

.available_container p {
    margin: 0;
    font-weight: 600;
}


.purchase_options {
    width: 60%;
}

.purchase_options a{
    padding: .5em 1em;
    margin: .5em 0 ;
    min-width: 100px;
    border: none;
    background-color: #02530d;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.purchase_options button {
    width: 100%;
    padding: .5em 1em;
    margin: .5em 0 ;
    border: none;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    outline: none;
}

.add_item_to_cart {
    display: flex;
}

.add_item_to_cart p {
    margin: 0 1em;
}

.add_item_to_cart button.set {
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000080;
    background-color: #fff;
    color: #000080;
}

.add_item_to_cart .add {
    margin: 0 1em;
    font-size: 15px;
    background-color: rgb(131, 47, 47);
}

.add_item_to_cart > div {
    display: flex;
    align-items: center;
}