.container {
    margin: 1em 0;
}

.container span {
    margin: 0 1em;
}

.container_percentage {
    width: 100%;
    border-radius: 5px;
    background-color: #eee;
    height: 10px;
}

.percentage_bar {
    height: 10px;
    border-radius: 5px;
    background-color: #fcbd18;
}