.container {
    display: inline-flex;
    max-width: 600px;
    margin-bottom: 1.5em;
}

.select_item {
    display: flex;
    position: relative;
    align-items: center;
    margin: 0 1em;
}

.select_item input {
    font-size: 20px;
}

.card {
    display: flex;
}

.image {
    padding: 1em;
}

.image img {
    width: 150px;
}

.item_content {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.options {
    display: flex;
    justify-content: space-between;
}

.item_info p {
    padding: .6em;
    background-color: #eee;
    border-radius: 5px;
    display: inline-block;
}

.item_info span {
    font-weight: 500;
}

.quantity {
    display: flex;
}

.quantity button {
    padding: .2em .5em;
    border: 1px solid #000080;
    background-color: #fff;
    border-radius: 5px;
}

.quantity button:disabled {
    background-color: #dedede;
    color: #999;
    border-color: #999;
}

.quantity p {
    margin: 0 1em;
    color: #000080;
    display: flex;
    align-items: center;
}

.price p {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

.select_item input {
    opacity: 0;
    z-index: 10;
}

.check_mark {
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #999;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check_mark ion-icon {
    color: #fff;
}

.select_item input:checked ~ .check_mark {
    background-color: #000080;
}