.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: #000080;
}

.navbar_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_logo img {
    width: 75px;
}

.search {
    display: flex;
    width: 40%;
}

.search a {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: 1px solid #fff;
    border-top-right-radius: 5px;
    color: #fff;
    transition: .5s;
}

.search a ion-icon {
    font-size: 20px;
}

.search a:hover {
    background: #fcbd18;
    border-color: #fcbd18;
}

.search input {
    width: 100%;
    border: none;
    outline: none;
    padding: .5em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
}

.menu li ion-icon {
    font-size: 25px;
}

.menu li {
    padding: .5em;
    margin: 0 .5em;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.link_cart {
    position: relative;
}

.link_cart span {
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    border-radius: 10px;
    min-width: 20px;
    min-height: 20px;
    padding: .2em;
    display: flex;
    justify-content: center;
    align-items: center;
}